base:
  api:
    url: http://127.0.0.1:3000
    credential:
      username: foo
      password: bar
  # relative to current dir
  sandbox:
  # relative to current dir
  runtimeDirectory: ../runtime
  compile:
    # WARN: config will be MERGED so that this section is tricky in `config.xxx.yaml`
    _base:
      timeout: 20000
      target: main
      sandboxArgs: --use-logon
      env:
        PATH: /usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
    _gcc:
      command: gcc
      source: main.c
    _g++:
      command: g++
      source: main.cpp
    _clang:
      command: clang
      source: main.c
    _clang++:
      command: clang++
      source: main.cpp
    gcc99:
      extend: [_base, _gcc]
      args: -O3 -Wall -o main main.c -lm -std=c99
    gcc11:
      extend: [_base, _gcc]
      args: -O3 -Wall -o main main.c -lm -std=c11
    clang99:
      extend: [_base, _clang]
      args: -O3 -Wall -o main main.c -std=c99
    clang11:
      extend: [_base, _clang]
      args: -O3 -Wall -o main main.c -std=c11
    g++98:
      extend: [_base, _g++]
      args: -O3 -Wall -o main main.cpp -lm -std=c++98
    g++11:
      extend: [_base, _g++]
      args: -O3 -Wall -o main main.cpp -lm -std=c++11
    g++14:
      extend: [_base, _g++]
      args: -O3 -Wall -o main main.cpp -lm -std=c++14
    g++17:
      extend: [_base, _g++]
      args: -O3 -Wall -o main main.cpp -lm -std=c++17
    clang++98:
      extend: [_base, _clang++]
      args: -O3 -Wall -o main main.cpp -std=c++98
    clang++11:
      extend: [_base, _clang++]
      args: -O3 -Wall -o main main.cpp -std=c++11
    clang++14:
      extend: [_base, _clang++]
      args: -O3 -Wall -o main main.cpp -std=c++14
    clang++17:
      extend: [_base, _clang++]
      args: -O3 -Wall -o main main.cpp -std=c++17
    py2:
      extend: [_base]
      command: sh
      source: main.py
      args: -c 'cp main.py main && echo >> main && sed -i 1i#!/usr/bin/python2 main && chmod +x main'
    py3:
      extend: [_base]
      command: sh
      source: main.py
      args: -c 'cp main.py main && echo >> main && sed -i 1i#!/usr/bin/python3 main && chmod +x main'
    node:
      extend: [_base]
      command: sh
      source: main.js
      args: -c 'cp main.js main && echo >> main && sed -i 1i#!/usr/bin/node main && chmod +x main'
  match:
    s1bin: ./challenger
    s2bin: ./opponent
    opening: opening.json
    config: config.json
    summary: summary.json
    command: node
    # relative to the working directory
    args: ../../../fun-judge/.dist/bootstrap.js --config config.json
  mq:
    vhosts:
      /:
        connection:
          hostname: 127.0.0.1
          user: guest
          password: guest
        queues:
          - gomoku_compile
          - gomoku_judge
        subscriptions:
          compile:
            queue: gomoku_compile
            prefetch: 1  # don't modify it! only one submission at a time!
          judge:
            queue: gomoku_judge
            prefetch: 1  # set to number of floor((CPUs - 1) / 2)
